@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.contact-section h3, section.portfolio h3, section.about h3 {
  z-index: 1;
  text-align: center;
  font-family: "Raleway";
  font-weight: 600;
  font-size: 42px;
  color: #444649;
  text-transform: uppercase;
  height: 45px;
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0 auto 110px;
}
.contact-section h3::after, section.portfolio h3::after, section.about h3::after {
  /* margin-top: 10px; */
  bottom: 0;
  content: "";
  display: block;
  width: 5rem;
  height: 4px;
  background-color: #444649;
  position: absolute;
}

section.portfolio .projects-section .overlay-modal .modal .modal-nav .button, section.portfolio .projects-section .projects-item .project-item-hover .project-button {
  border: 2px solid #ffff;
  box-sizing: inherit;
  cursor: pointer;
  display: inline-block;
  padding: 7px 0;
  font-family: "Raleway";
  font-size: 16px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}

@keyframes toBottomFromTop {
  49% {
    transform: translateY(-100%);
  }
  50% {
    opacity: 0;
    transform: translateY(100%);
  }
  70% {
    opacity: 1;
  }
}
html {
  width: 100%;
  scroll-behavior: smooth;
}

body {
  width: 100%;
}

.mdi {
  display: inline-block;
  font: normal normal normal 24px "Material Design Icons";
  font-size: inherit;
  text-rendering: auto;
  transform: translate(0, 0);
  vertical-align: middle;
}

.container {
  max-width: 1200px;
  height: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 10px 0;
}

.header {
  position: fixed;
  width: 100%;
  height: 80px;
  background-color: #1b242f;
  z-index: 1500;
}
.header .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .header .container {
    justify-content: space-between;
  }
}
@media screen and (max-width: 767px) {
  .header h2 {
    margin-left: 10%;
  }
}
.header a {
  text-decoration: none;
  font-family: "Raleway";
  font-weight: 800;
  font-size: 28px;
  color: #ffff;
}
.header .mdi-menu {
  font-size: 30pt;
  line-height: 36pt;
  margin: auto 5% auto 0;
  right: 5vw;
  top: 0;
  color: #ffff;
}
.header .mdi-menu:before {
  content: "";
}
@media screen and (min-width: 767px) {
  .header .mdi-menu {
    display: none;
  }
}
.header div.header-nav {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
@media screen and (max-width: 767px) {
  .header div.header-nav {
    display: none;
  }
}
.header .js-highlight .active {
  color: #e31b6d;
}
.header a.header-link {
  text-decoration: none;
  font-family: "Raleway";
  font-weight: 400;
  font-size: 19px;
  color: #ffff;
  transition: all 0.5s;
  margin: 0 2%;
}
.header a.header-link:hover {
  color: #e31b6d;
}
.header .small-nav-bar {
  position: absolute;
  width: 100%;
  height: 0;
  background-color: #333;
  transition: height 0.3s ease-out;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  overflow: hidden;
  font-size: 16px;
  text-transform: uppercase;
}
.header .small-nav-bar.active {
  height: 220px;
}
.header .small-nav-bar .header-link {
  margin-left: 30px;
}

.intro {
  top: 80px;
  height: 1000px;
  background-image: url(../images/intro-bg.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 1366px) {
  .intro {
    background-attachment: scroll;
  }
}
.intro .container {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 520px) {
  .intro .container {
    text-align: center;
  }
}
.intro h1 {
  background: none;
  height: 200px;
  font-family: "Raleway";
  font-size: 50px;
  line-height: 1.3;
  color: #ffff;
}
@media screen and (min-width: 520px) {
  .intro h1 .small {
    text-align: center;
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .intro h1 {
    font-size: 40px;
  }
}
@media screen and (max-width: 400px) {
  .intro h1 {
    font-size: 35px;
  }
}
@media screen and (max-width: 320px) {
  .intro h1 {
    font-size: 30px;
  }
}

section.about {
  height: inherit;
  padding: 100px 0 130px;
  width: 100%;
}
section.about div.about-content {
  padding: 0 40px 0;
  display: flex;
  justify-content: space-evenly;
}
@media screen and (max-width: 767px) {
  section.about div.about-content {
    flex-direction: column;
  }
}
section.about div.about-text {
  max-width: 500px;
}
@media screen and (max-width: 767px) {
  section.about div.about-text {
    margin: 0 auto;
  }
}
section.about div.about-text p {
  margin: 0 auto;
  max-width: 500px;
  font-family: "Raleway";
  font-size: 18px;
  line-height: 1.5;
  color: #616161;
}
section.about div.about-text div.my-photo {
  margin: 0 auto 30px;
  width: 250px;
}
section.about div.about-text img {
  max-width: 250px;
}
section.about h4 {
  font-family: "Raleway";
  font-size: 30px;
  font-weight: 600;
  color: #616161;
  margin: 0 auto 35px;
  text-align: center;
}
section.about .hard-skills-content {
  max-width: 480px;
}
@media screen and (max-width: 767px) {
  section.about .hard-skills-content h4 {
    margin-top: 80px;
  }
}
@media screen and (max-width: 767px) {
  section.about .hard-skills-content {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
}
section.about .hard-skills-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
section.about .hard-skills-items .hard-skills-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5%;
  align-items: center;
  justify-content: center;
  margin: 15px auto;
  padding: 0 20px;
}
@media screen and (max-width: 767px) {
  section.about .hard-skills-items .hard-skills-item {
    grid-template-columns: 1fr;
    text-align: center;
  }
}
@media screen and (max-width: 380px) {
  section.about .hard-skills-items .hard-skills-item {
    padding: 0 5px;
  }
}
section.about .hard-skills-items .hard-skills-item img {
  width: 100px;
}
section.about .hard-skills-items .hard-skills-item h5 {
  font-family: "Raleway";
  font-size: 18px;
  font-weight: 500;
  color: #616161;
}

section.portfolio {
  height: inherit;
  padding: 100px 0 300px;
  background-color: #f5f5f5;
  /* .project-categories {
    width: 60%;
    margin: 0 auto;
    display: flex;
    margin-bottom: 25px;

    .category {
      margin: 0 25px;
      padding: 0 40px;

      font-family: $basic-font;
      font-size: 17.3px;
      line-height: 1.5;
      font-weight: 500;
      text-transform: uppercase;
      color: $subtitle-color;
    }
  } */
}
@media screen and (max-width: 1200px) {
  section.portfolio .container {
    max-width: 1100px;
  }
}
@media screen and (max-width: 950px) {
  section.portfolio .container {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  section.portfolio .container {
    padding: 0;
  }
}
section.portfolio h3::after {
  width: 5rem;
}
section.portfolio .projects-section {
  padding: 0 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media screen and (max-width: 1200px) {
  section.portfolio .projects-section {
    /* justify-content: center; */
  }
}
@media screen and (max-width: 820px) {
  section.portfolio .projects-section {
    padding: 0;
    justify-content: center;
  }
}
@media screen and (max-width: 767px) {
  section.portfolio .projects-section {
    padding: 0;
    justify-content: center;
  }
}
section.portfolio .projects-section .projects-item {
  width: 33%;
  min-width: 360px;
  height: 300px;
  position: relative;
}
@media screen and (max-width: 1200px) {
  section.portfolio .projects-section .projects-item {
    max-width: 380px;
  }
}
@media screen and (min-width: 950px) {
  section.portfolio .projects-section .projects-item {
    max-width: 400px;
  }
}
@media screen and (max-width: 767px) {
  section.portfolio .projects-section .projects-item {
    max-width: 390px;
  }
}
@media screen and (max-width: 360px) {
  section.portfolio .projects-section .projects-item {
    min-width: 320px;
  }
}
section.portfolio .projects-section .projects-item img {
  width: 100%;
  height: 300px;
  z-index: 1;
  position: absolute;
  top: 0;
}
section.portfolio .projects-section .projects-item .project-item-hover {
  position: relative;
  width: 100%;
  height: 300px;
  background-color: #ffff;
  z-index: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  transition: all 0.5s;
}
section.portfolio .projects-section .projects-item .project-item-hover:hover {
  opacity: 1;
}
section.portfolio .projects-section .projects-item .project-item-hover h5 {
  font-family: "Raleway";
  font-size: 21px;
  line-height: 1.2;
  font-weight: 600;
  color: #1b242f;
  padding-top: 75px;
}
section.portfolio .projects-section .projects-item .project-item-hover p {
  font-family: "Raleway";
  font-size: 16px;
  line-height: 1.5;
  color: #e31b6d;
}
section.portfolio .projects-section .projects-item .project-item-hover .project-button {
  margin-top: 65px;
  width: 170px;
  height: 24px;
  border-color: #e31b6d;
  color: #1b242f;
}
section.portfolio .projects-section .projects-item .project-item-hover .project-button:hover {
  background-color: #e31b6d;
  color: #ffff;
}
section.portfolio .projects-section .overlay-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3000;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
}
section.portfolio .projects-section .overlay-modal.active {
  opacity: 1;
  visibility: visible;
}
section.portfolio .projects-section .overlay-modal .mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 4000;
  opacity: 0;
  visibility: hidden;
}
section.portfolio .projects-section .overlay-modal .mask.active {
  opacity: 1;
  visibility: visible;
}
section.portfolio .projects-section .overlay-modal .modal {
  position: relative;
  top: 0;
  transform: translate(-50%, -50%);
  z-index: 5000;
  max-width: 700px;
  height: initial;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  background-color: #ffff;
  opacity: 0;
  visibility: hidden;
  display: none;
  transition: all 0.3s;
  transform: scale(0.8);
  overflow-y: auto;
}
section.portfolio .projects-section .overlay-modal .modal.active {
  opacity: 1;
  visibility: visible;
  display: block;
  transform: scale(1);
}
section.portfolio .projects-section .overlay-modal .modal .image-slider-container {
  height: 450px;
  width: 100%;
}
section.portfolio .projects-section .overlay-modal .modal .modal-slider-image {
  width: 100%;
  height: 100%;
}
section.portfolio .projects-section .overlay-modal .modal .description-container {
  padding: 35px 90px 0 25px;
  height: inherit;
  border-top: 3px solid #1b242f;
}
section.portfolio .projects-section .overlay-modal .modal .description-container .modal-title {
  font-family: "Raleway";
  font-size: 29px;
  line-height: 1.5;
  font-weight: 600;
  color: #444444;
}
section.portfolio .projects-section .overlay-modal .modal .description-container .modal-subtitle {
  font-family: "Raleway";
  font-size: 14px;
  line-height: 0.9;
  font-weight: 600;
  color: #c0c0c0;
  text-transform: uppercase;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
section.portfolio .projects-section .overlay-modal .modal .description-container .modal-description {
  font-family: "Raleway";
  font-size: 15px;
  line-height: 1.5;
  font-weight: 500;
  color: #444444;
  margin: 15px 0;
}
section.portfolio .projects-section .overlay-modal .modal .modal-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 650px;
  margin: 5px 25px;
}
section.portfolio .projects-section .overlay-modal .modal .modal-nav a {
  text-decoration: none;
}
section.portfolio .projects-section .overlay-modal .modal .modal-nav .button {
  background-color: #e31b6d;
  color: #ffff;
  font-weight: 500;
  padding: 11px 30px;
  margin: 15px 0;
}
section.portfolio .projects-section .overlay-modal .modal .modal-nav .button .mdi-open-in-new {
  font-size: 11pt;
  left: -10px;
  position: relative;
}
section.portfolio .projects-section .overlay-modal .modal .modal-nav .button .mdi-open-in-new:before {
  content: "";
}
section.portfolio .projects-section .overlay-modal .modal .modal-nav .button:hover {
  background-color: #ffff;
  color: #e31b6d;
}
section.portfolio .projects-section .overlay-modal .modal .modal-nav .modal-cross {
  color: #bbb;
  cursor: pointer;
  font-size: 33px;
}
section.portfolio .projects-section .overlay-modal .modal .modal-nav .modal-cross .mdi-close:before {
  content: "";
}
section.portfolio .projects-section .overlay-modal .modal .modal-nav .modal-cross:hover {
  color: #1b242f;
}

.contact-section {
  background-color: #252934;
  padding: 75px 0 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.contact-section svg {
  position: absolute;
  top: 0;
}
.contact-section .container {
  max-width: 1200px;
}
.contact-section h3 {
  color: #ffff;
  margin-top: 100px;
}
.contact-section h3::after {
  background-color: #ffff;
  width: 6rem;
}
.contact-section .contact-container {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  outline: none;
}
@media screen and (max-width: 767px) {
  .contact-section .contact-container {
    width: 400px;
  }
}
@media screen and (max-width: 420px) {
  .contact-section .contact-container {
    width: 300px;
  }
}
.contact-section .contact-container .name-form {
  margin: 2px auto;
  padding: 10px 15px;
  width: 100%;
  outline: none;
  box-sizing: border-box;
  border: none;
  background-color: #1e242c;
  font-size: 16px;
  color: #ffff;
}
.contact-section .contact-container .email-form {
  margin: 2px auto;
  padding: 10px 15px;
  width: 100%;
  outline: none;
  box-sizing: border-box;
  border: none;
  background-color: #1e242c;
  font-size: 16px;
  color: #ffff;
}
.contact-section .contact-container .message-form {
  margin: 2px auto 5px;
  padding: 10px 16px;
  width: 100%;
  min-height: 150px;
  outline: none;
  box-sizing: border-box;
  resize: none;
  border: none;
  background-color: #1e242c;
  font-size: 16px;
  color: #ffff;
}
.contact-section .success-container {
  height: 0;
  overflow: hidden;
  position: relative;
  transition: height 0.25s ease-out;
  width: 100%;
  text-align: center;
  line-height: 18pt;
}
.contact-section .success-container.expand {
  height: 34px;
}
.contact-section .success-container .success {
  background: #04c986;
  border: 1px solid #157c59;
  color: #157051;
  font-family: "Raleway";
  font-size: 14px;
  font-weight: 600;
  line-height: 1.6;
  padding: 5px 0;
}
.contact-section .success-container span {
  cursor: pointer;
  font-size: 12pt;
  font-weight: 600;
  padding: 2.5px 15px;
  position: absolute;
  right: 0;
}
.contact-section .button {
  background: transparent;
  color: #fff;
  float: right;
  font-size: 12pt;
  margin: 5px 0 0 0;
  outline: 0;
  padding: 10px 30px;
  border: 2px solid #fff;
  cursor: pointer;
  transition: all 0.5s;
}
.contact-section .button:hover {
  background-color: #009bd9;
  border-color: #009bd9;
}

footer {
  height: inherit;
  padding: 70px 0 50px;
  background-color: #1b242f;
  position: relative;
}
footer .footer-icon {
  background: #e31b6d;
  cursor: pointer;
  height: 50px;
  left: 0;
  line-height: 53px;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: -25px;
  width: 47px;
  color: #ffff;
  text-align: center;
  z-index: 1;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .footer-icon:hover {
  box-shadow: 3px #000;
  transform: scale(0.9);
}
footer .footer-icon:hover .mdi {
  animation: toBottomFromTop 0.3s forwards;
  color: #ffff;
}
footer .footer-icon .mdi-chevron-double-up {
  font-size: 40px;
}
footer .footer-icon .mdi-chevron-double-up::before {
  content: "";
}
footer .footer-icon .mdi-chevron-double-up .dest-home {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  z-index: 2;
}
footer .container {
  text-align: center;
}
footer .copyright {
  font-family: "Raleway";
  font-size: 16px;
  color: #8f9aa7;
  text-transform: uppercase;
}
footer .copyright span {
  font-family: "Raleway";
  font-size: 16px;
  color: #e31b6d;
  text-transform: uppercase;
}